<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Club Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Settings Page</h1>
    <button onclick="window.location='/'">Return home</button>
    {% if error %}
        <p style="color: red">{{error}}</p>
    {% endif %}
    <div class="r">
        <h3>Add or Update github username</h3>
        <form method="post">
            <input type="hidden" name="type" value="addGithub">
            <input type="text" name="username" placeholder="Github Username">
            <input type="submit" value="Add Github">
        </form>
    </div>
</body>
</html>